.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.description {
  --padding-start: 2px;
}

.password {
  border-radius: 2px;
  border: 1px solid grey;
  font-size: 1.5em;
}

.overkill {
  border: 1px solid rgb(43, 147, 72);
  background-color: rgba(43, 147, 72, 0.5);
}
.very-strong {
  border: 1px solid rgb(125, 205, 133);
  background-color: rgba(125, 205, 133,0.5);
}
.strong {
  border: 1px solid rgb(188, 217, 121);
  background-color: rgba(188, 217, 121, 0.5);
}
.reasonable {
  border: 1px solid rgb(240, 168, 104);
  background-color: rgba(240, 168, 104, 0.5);
}

.weak,
.very-weak {
  border: 1px solid rgb(204, 41, 54);
  background-color: rgba(204, 41, 54, 0.5);
}
